[workspace]
resolver = "3"
members = [
    "crates/*",
    "verifier/crates/*",
    "verifier/apps/*",
    "gateway/crates/*",
    "gateway/apps/*"
]

[workspace.package]
version = "0.1.0"
rust-version = "1.89.0"
authors = ["DistributedLabs"]
readme = "Readme.md"

[workspace.dependencies]
tracing = { version = "0.1.41", features = [] }
tracing-appender = { version = "0.2.3" }
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }

tonic = { version = "0.12.3" }
tonic-build = { version = "0.12.3", features = ["prost"] }
prost = "0.13.5"

# Verifier crates
verifier-protos = { path = "verifier/crates/server-protos" }

# Verifier apps
verifier-main = { path = "verifier/apps/main" }

# Gateway crates
gateway-server = { path = "gateway/crates/server" }

# Gateway apps
gateway-main = { path = "gateway/apps/main" }