[workspace]
resolver = "3"
members = [
    "crates/*",
    "verifier/crates/*",
    "verifier/apps/*",
    "gateway/crates/*",
    "gateway/apps/*"
]

[workspace.package]
version = "0.1.0"
rust-version = "1.89.0"
authors = ["DistributedLabs"]
readme = "Readme.md"

[workspace.dependencies]
tracing = { version = "0.1.41", features = [] }
tracing-appender = { version = "0.2.3" }
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }

axum = { version = "0.8.4" }
serde = { version = "1.0.219", features = ["derive"] }
toml = { version = "0.9.5" }
tokio = { version = "1.47.1", features = ["full"] }
eyre = { version = "0.6.12" }
log = { version = "0.4.27" }
thiserror = { version = "2.0.16" }

# Verifier crates
verifier-common = { path = "verifier/crates/common" }
verifier-server = { path = "verifier/crates/server" }

# Verifier apps
verifier-main = { path = "verifier/apps/main" }

# Gateway crates
gateway-server = { path = "gateway/crates/server" }
gateway-common = { path = "gateway/crates/common" }

# Gateway apps
gateway-main = { path = "gateway/apps/main" }

# Global crates
global-utils = { path = "crates/global_utils" }