[workspace]
resolver = "3"
members = [
    "crates/*",
    "verifier/crates/*"
]

[workspace.package]
version = "0.1.0"
rust-version = "1.89.0"
authors = ["DistributedLabs"]
readme = "Readme.md"

[workspace.dependencies]
tracing = { version = "0.1.41", features = [] }
tracing-appender = { version = "0.2.3" }
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }

# Verifier crates
verifier-server = { path = "verifier/crates/server" }