[workspace]
resolver = "3"
members = [
    # global
    "crates/*",

    # spark-balance-checker
    "spark_balance_checker/crates/*",
    "spark_balance_checker/apps/*",
]

[workspace.package]
version = "0.1.0"
edition = "2024"
rust-version = "1.89.0"
authors = ["DistributedLabs"]
readme = "Readme.md"

[workspace.dependencies]
# global dependencies
tracing = { version = "0.1.41", features = [] }
tracing-appender = { version = "0.2.3" }
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
tonic = { version = "0.12.3", features = ["tls-native-roots"] }
serde = { version = "1.0", features = ["derive"] }
toml = "0.9.5"
eyre = "0.6.2"
tokio = { version = "1.47.1", features = ["full"] }
env_logger = "0.11.8"
log = "0.4.27"
bech32 = "0.11.0"
hex = "0.4.3"
axum = "0.8.4"
thiserror = "2.0.15"
http = "1.3.1"
prost = "0.13.5"
prost-wkt-types = "0.6.1"
prost-wkt = "0.6.1"
prost-wkt-build = "0.6.1"
tonic-build = { version = "0.12.3", features = ["prost"] }


# global crates/* dependencies
spark-protos = { path = "./crates/spark-protos-rpc" }
spark-client = { path = "./crates/spark_client" }

# spark-balance-checker crates/* dependencies
spark-balance-checker-common = { path = "./spark_balance_checker/crates/common" }
spark-balance-checker-server = { path = "./spark_balance_checker/crates/server" }

# spark-balance-checker apps/* dependencies
spark-balance-checker-main = { path = "./spark_balance_checker/apps/main" }
