[workspace]
resolver = "3"
members = [
    "crates/*",
    "crates/btc_signer",
    "crates/btc_aggregator",
]

[workspace.package]
version = "0.1.0"
rust-version = "1.89.0"
authors = ["DistributedLabs"]
readme = "Readme.md"

[workspace.dependencies]
tracing = { version = "0.1.41", features = [] }
tracing-appender = { version = "0.2.3" }
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
tokio = { version = "1.0", features = ["full"] }
async-trait = "0.1"

secp256k1 = { version = "0.28", features = ["rand", "std", "serde"] }
rand = "0.8"
sha2 = "0.10"
curve25519-dalek = "4.0"
k256 = { version = "0.13", default-features = false }

thiserror = "1.0"
anyhow = "1.0"

serde = { version = "1.0", features = ["derive"] }
hex = "0.4"
bincode = "1.3"

frost-core = "2.1.0"
frost-secp256k1 = "2.1.0"

uuid = { version = "1.0", features = ["v4"] }

config = "0.14"
clap = { version = "4.0", features = ["derive"] }
