[workspace]
resolver = "3"
members = [
    "btc_verifier/crates/*",
    "crates/*",
]

[workspace.package]
version = "0.1.0"
rust-version = "1.89.0"
authors = ["DistributedLabs"]
readme = "Readme.md"

[workspace.dependencies]
actix-web = { version = "4.11.0" }
async-trait = { version = "0.1.88" }
anyhow = { version = "1.0.98" }
config = { version = "0.15.13" }
config_parser = { path = "./btc_verifier/crates/config_parser" }
dotenv = { version = "0.15.0" }
global_utils = { path = "./crates/global_utils" }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = { version = "1.0.140" }
strum = { version = "0.27", features = ["derive"] }
sqlx = { version = "0.8.6", features = ["json", "runtime-tokio", "postgres"] }
thiserror = { version = "2.0.12" }
tokio = { version = "1.45.0", features = ["full"] }
tracing = { version = "0.1.41", features = [] }
tracing-appender = { version = "0.2.3" }
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
utoipa = { version = "4.2.3", features = ["actix_extras"] }
utoipa-swagger-ui = { version = "7.1.0", features = ["actix-web"] }
btc_indexer = { path = "./btc_verifier/crates/btc_indexer" }
persistent_storage = { path = "./btc_verifier/crates/persistent_storage" }
tokio-util = { version = "0.7.16" }
titan-client = { version = "0.1.43" }
bitcoincore-rpc = { version = "0.19.0" }
bitcoin = { version = "0.32.7" }
ordinals = { version = "0.0.15" }