name: runes-spark-bridge
services:

  btc-indexer-service:
    build:
      context: ./../../
      dockerfile: ./spark_balance_checker/infrastructure/Dockerfile
    restart: always
    environment:
      - RUST_LOG=trace
      - APP_ENVIRONMENT=production
    networks:
      titan-network:
        ipv4_address: 172.28.0.2
    ports:
      - "8070:8070"
    entrypoint: btc_indexer
#    entrypoint: tail -f /dev/null
    depends_on:
      - persistent-db-storage
      - titan
      - bitcoind
    volumes:
      - ./configuration/production.toml:/configuration_indexer/production.toml


networks:
  spark-checker-network:
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/24
          gateway: 172.28.0.1

volumes:
  titan-data:
  btcd-data:
  service-data: