name: runes-spark-bridge_databases
services:
  # ====== Gateway Database ======
  persistent-db-storage_gateway:
    image: postgres:17.5-alpine3.22
    restart: always
    networks:
      gateway-network:
        ipv4_address: 172.28.0.2
    ports:
      - "5470:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-admin_manager}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}
      - POSTGRES_HOST=persistent-db-storage_gateway
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - POSTGRES_DB=${POSTGRES_DB:-production_db_name}
      - PGDATA=/pgdata
    volumes:
      - service-data_gateway:/pgdata

  # ====== Verifier 1 Database ======
  persistent-db-storage_verifier_1:
    image: postgres:17.5-alpine3.22
    restart: always
    networks:
      verifier1-network:
        ipv4_address: 172.29.0.2
    ports:
      - "5471:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-admin_manager}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}
      - POSTGRES_HOST=persistent-db-storage_verifier_1
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - POSTGRES_DB=${POSTGRES_DB:-production_db_name}
      - PGDATA=/pgdata
    volumes:
      - service-data_verifier_1:/pgdata

  # ====== Verifier 2 Database ======
  persistent-db-storage_verifier_2:
    image: postgres:17.5-alpine3.22
    restart: always
    networks:
      verifier2-network:
        ipv4_address: 172.30.0.2
    ports:
      - "5472:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-admin_manager}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}
      - POSTGRES_HOST=persistent-db-storage_verifier_2
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - POSTGRES_DB=${POSTGRES_DB:-production_db_name}
      - PGDATA=/pgdata
    volumes:
      - service-data_verifier_2:/pgdata

  # ====== Verifier 3 Database ======
  persistent-db-storage_verifier_3:
    image: postgres:17.5-alpine3.22
    restart: always
    networks:
      verifier3-network:
        ipv4_address: 172.31.0.2
    ports:
      - "5473:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-admin_manager}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}
      - POSTGRES_HOST=persistent-db-storage_verifier_3
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - POSTGRES_DB=${POSTGRES_DB:-production_db_name}
      - PGDATA=/pgdata
    volumes:
      - service-data_verifier_3:/pgdata

  # ====== BTC Indexer Database ======
  persistent-db-storage_btc_indexer:
    image: postgres:17.5-alpine3.22
    restart: always
    networks:
      titan-network:
        ipv4_address: 172.32.0.5
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-admin_manager}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}
      - POSTGRES_HOST=persistent-db-storage_btc_indexer
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - POSTGRES_DB=${POSTGRES_DB:-production_db_name}
      - PGDATA=/pgdata
    volumes:
      - service-data_btc_indexer:/pgdata

networks:
  gateway-network:
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/24
          gateway: 172.28.0.1
  verifier1-network:
    ipam:
      driver: default
      config:
        - subnet: 172.29.0.0/24
          gateway: 172.29.0.1
  verifier2-network:
    ipam:
      driver: default
      config:
        - subnet: 172.30.0.0/24
          gateway: 172.30.0.1
  verifier3-network:
    ipam:
      driver: default
      config:
        - subnet: 172.31.0.0/24
          gateway: 172.31.0.1
  titan-network:
    ipam:
      driver: default
      config:
        - subnet: 172.32.0.0/24
          gateway: 172.32.0.1

volumes:
  service-data_gateway:
  service-data_verifier_1:
  service-data_verifier_2:
  service-data_verifier_3:
  service-data_btc_indexer: