name: runes-spark-bridge_gateway
services:
  # ====== Gateway ======
  persistent-db-storage_gateway:
    image: postgres:17.5-alpine3.22
    restart: always
    networks:
      all-network:
    ports:
      - "5470:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-admin_manager}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}
      - POSTGRES_HOST=persistent-db-storage_gateway
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - POSTGRES_DB=${POSTGRES_DB:-production_db_name}
      - PGDATA=/pgdata
    volumes:
      - service-data_gateway:/pgdata

  gateway-service:
    build:
      context: ./../
      dockerfile: ./gateway/infrastructure/Dockerfile
    restart: always
    networks:
      all-network:
    environment:
      - ${BITCOIN_NETWORK:-regtest}
      - RUST_LOG=trace
      - CONFIG_PATH=/config.toml
      - DATABASE_URL=postgres://${POSTGRES_USER:-admin_manager}:${POSTGRES_PASSWORD:-password}@persistent-db-storage_gateway:${POSTGRES_PORT:-5432}/${POSTGRES_DB:-production_db_name}
    ports:
      - "8070:8060"
    healthcheck:
      test: [ "CMD", "curl", "-X", "POST", "-f", "http://localhost:8060/health" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
    entrypoint: sh -c "sqlx migrate run && gateway_main"
    #    entrypoint: tail -f /dev/null
    depends_on:
      - persistent-db-storage_gateway
      - verifier1-service
      - verifier2-service
      - verifier3-service
    volumes:
      - ./configurations/gateway/production.toml:/config.toml
      - ./configurations/certificates/Amazon-Root-CA.pem:/configuration_gateway/Amazon-Root-CA.pem
      - ./configurations/certificates/Flashnet-CA.pem:/configuration_gateway/Flashnet-CA.pem

  # ====== Verifier 1 ======
  persistent-db-storage_verifier_1:
    image: postgres:17.5-alpine3.22
    restart: always
    networks:
      all-network:
    ports:
      - "5471:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-admin_manager}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}
      - POSTGRES_HOST=persistent-db-storage_verifier_1
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - POSTGRES_DB=${POSTGRES_DB:-production_db_name}
      - PGDATA=/pgdata
    volumes:
      - service-data_verifier_1:/pgdata

  verifier1-service:
    build:
      context: ./../
      dockerfile: ./verifier/infrastructure/Dockerfile
    restart: always
    networks:
      all-network:
    environment:
      - RUST_LOG=trace
      - CONFIG_PATH=/config.toml
      - DATABASE_URL=postgres://${POSTGRES_USER:-admin_manager}:${POSTGRES_PASSWORD:-password}@persistent-db-storage_verifier_1:${POSTGRES_PORT:-5432}/${POSTGRES_DB:-production_db_name}
    ports:
      - "8071:8070"
    healthcheck:
      test: [ "CMD", "curl", "-X", "POST", "-f", "http://localhost:8070/health" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
    entrypoint: sh -c "sqlx migrate run && verifier_main"
    depends_on:
      - persistent-db-storage_verifier_1
    volumes:
      - ./configurations/verifier_1/production.toml:/config.toml

  # ====== Verifier 2 ======
  persistent-db-storage_verifier_2:
    image: postgres:17.5-alpine3.22
    restart: always
    networks:
      all-network:
    ports:
      - "5472:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-admin_manager}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}
      - POSTGRES_HOST=persistent-db-storage_verifier_2
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - POSTGRES_DB=${POSTGRES_DB:-production_db_name}
      - PGDATA=/pgdata
    volumes:
      - service-data_verifier_2:/pgdata

  verifier2-service:
    build:
      context: ./../
      dockerfile: ./verifier/infrastructure/Dockerfile
    restart: always
    networks:
      all-network:
    environment:
      - RUST_LOG=trace
      - CONFIG_PATH=/config.toml
      - DATABASE_URL=postgres://${POSTGRES_USER:-admin_manager}:${POSTGRES_PASSWORD:-password}@persistent-db-storage_verifier_2:${POSTGRES_PORT:-5432}/${POSTGRES_DB:-production_db_name}
    ports:
      - "8072:8070"
    healthcheck:
      test: [ "CMD", "curl", "-X", "POST", "-f", "http://localhost:8070/health" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
    entrypoint: sh -c "sqlx migrate run && verifier_main"
    depends_on:
      - persistent-db-storage_verifier_2
    volumes:
      - ./configurations/verifier_2/production.toml:/config.toml

  # ====== Verifier 3 ======
  persistent-db-storage_verifier_3:
    image: postgres:17.5-alpine3.22
    restart: always
    networks:
      all-network:
    ports:
      - "5473:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-admin_manager}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}
      - POSTGRES_HOST=persistent-db-storage_verifier_3
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - POSTGRES_DB=${POSTGRES_DB:-production_db_name}
      - PGDATA=/pgdata
    volumes:
      - service-data_verifier_3:/pgdata

  verifier3-service:
    build:
      context: ./../
      dockerfile: ./verifier/infrastructure/Dockerfile
    restart: always
    networks:
      all-network:
    environment:
      - RUST_LOG=trace
      - CONFIG_PATH=/config.toml
      - DATABASE_URL=postgres://${POSTGRES_USER:-admin_manager}:${POSTGRES_PASSWORD:-password}@persistent-db-storage_verifier_3:${POSTGRES_PORT:-5432}/${POSTGRES_DB:-production_db_name}
    ports:
      - "8073:8070"
    healthcheck:
      test: [ "CMD", "curl", "-X", "POST", "-f", "http://localhost:8070/health" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
    entrypoint: sh -c "sqlx migrate run && verifier_main"
    depends_on:
      - persistent-db-storage_verifier_3
    volumes:
      - ./configurations/verifier_3/production.toml:/config.toml

  # ===== Btc indexer =====

  btc-indexer-service:
    build:
      context: ./../
      dockerfile: ./btc_indexer/infrastructure/Dockerfile
    restart: always
    environment:
      - RUST_LOG=trace
      - CONFIG_PATH=/configuration_indexer/production.toml
      - TITAN_URL=http://titan:${TITAN_HTTP_PORT:-3030}
      - BITCOIN_NETWORK=${BITCOIN_NETWORK:-regtest}
      - BITCOIN_RPC_HOST=bitcoind
      - BITCOIN_RPC_PORT=${BITCOIN_RPC_PORT:-18443}
      - BITCOIN_RPC_USERNAME=${BITCOIN_RPC_USERNAME:-bitcoin}
      - BITCOIN_RPC_PASSWORD=${BITCOIN_RPC_PASSWORD:-bitcoinpass}
      - DATABASE_URL=postgres://${POSTGRES_USER:-admin_manager}:${POSTGRES_PASSWORD:-password}@persistent-db-storage_btc_indexer:${POSTGRES_PORT:-5432}/${POSTGRES_DB:-production_db_name}
    networks:
      all-network:
    entrypoint: sh -c "sqlx migrate run && btc_indexer"
    ports:
      - "8060:8070"
    healthcheck:
      test: [ "CMD", "curl", "-X", "POST", "-f", "http://localhost:8070/health" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
    depends_on:
      - persistent-db-storage_btc_indexer
      - titan
      - bitcoind
    volumes:
      - ./configurations/btc_indexer/production.toml:/configuration_indexer/production.toml

  persistent-db-storage_btc_indexer:
    image: postgres:17.5-alpine3.22
    restart: always
    networks:
      all-network:
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-admin_manager}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}
      - POSTGRES_HOST=persistent-db-storage_btc_indexer
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - POSTGRES_DB=${POSTGRES_DB:-production_db_name}
      - PGDATA=/pgdata
    volumes:
      - service-data_btc_indexer:/pgdata

  # https://github.com/SaturnBTC/Titan/blob/master/docker-compose.yml

  titan:
    image: ghcr.io/${GITHUB_REPOSITORY:-saturnbtc/titan}:${DOCKER_TAG:-latest}
    restart: always
    depends_on:
      bitcoind:
        condition: service_healthy
    ports:
      - 0.0.0.0:${TITAN_TCP_PORT:-8080}:${TITAN_TCP_PORT:-8080}
      - 0.0.0.0:${TITAN_HTTP_PORT:-3030}:${TITAN_HTTP_PORT:-3030}
    networks:
      all-network:
    environment:
      - COMMIT_INTERVAL=${COMMIT_INTERVAL:-5}
      - BITCOIN_RPC_URL=http://bitcoind:${BITCOIN_RPC_PORT:-18443}
      - BITCOIN_RPC_USERNAME=${BITCOIN_RPC_USERNAME:-bitcoin}
      - BITCOIN_RPC_PASSWORD=${BITCOIN_RPC_PASSWORD:-bitcoinpass}
      - CHAIN=${BITCOIN_NETWORK:-regtest}
      - HTTP_LISTEN=0.0.0.0:${TITAN_HTTP_PORT:-3030}
      - TCP_ADDRESS=0.0.0.0:${TITAN_TCP_PORT:-8080}
    volumes:
      - "titan-data:/home/titan/data"

  bitcoind:
    image: bitcoin/bitcoin
    ports:
      - 0.0.0.0:${BITCOIN_RPC_PORT:-18443}:${BITCOIN_RPC_PORT:-18443}
    volumes:
      - "btcd-data:/var/lib/bitcoin-core"
    networks:
      all-network:
    command: |
      -${BITCOIN_NETWORK:-regtest}
      -rpcallowip=0.0.0.0/0
      -datadir=/var/lib/bitcoin-core
      -rpcbind=bitcoind
      -rpcuser=${BITCOIN_RPC_USERNAME:-bitcoin}
      -rpcpassword=${BITCOIN_RPC_PASSWORD:-bitcoinpass}
      -fallbackfee=0.00000001
      -txindex
    healthcheck:
      test:
        [
          "CMD",
          "bitcoin-cli",
          "-${BITCOIN_NETWORK:-regtest}",
          "-rpcconnect=bitcoind",
          "-rpcport=${BITCOIN_RPC_PORT:-18443}",
          "-rpcuser=${BITCOIN_RPC_USERNAME:-bitcoin}",
          "-rpcpassword=${BITCOIN_RPC_PASSWORD:-bitcoinpass}",
          "getblockchaininfo",
        ]
      interval: 10s
      timeout: 5s
      retries: 10

    # ===== Spark balance checker =====
  spark-balance-checker-service:
    build:
      context: ./../
      dockerfile: ./spark_balance_checker/infrastructure/Dockerfile
    restart: always
    environment:
      - RUST_LOG=trace
      - CONFIG_PATH=/configuration_spark_balance_checker/production.toml
    networks:
      all-network:
    ports:
      - "8090:8070"
    healthcheck:
      test: [ "CMD", "curl", "-X", "POST", "-f", "http://localhost:8070/health" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
    entrypoint: sh -c "spark_balance_checker_main"
    #    entrypoint: tail -f /dev/null
    volumes:
      - ./configurations/spark_balance_checker/production.toml:/configuration_spark_balance_checker/production.toml
      - ./configurations/certificates/Amazon-Root-CA.pem:/configuration_spark_balance_checker/Amazon-Root-CA.pem
      - ./configurations/certificates/Flashnet-CA.pem:/configuration_spark_balance_checker/Flashnet-CA.pem

networks:
  all-network:

volumes:
  service-data_gateway:
  service-data_verifier_1:
  service-data_verifier_2:
  service-data_verifier_3:
  service-data_btc_indexer:
  titan-data:
  btcd-data:
