name: runes-spark-bridge
services:
  # ====== Gateway ======
  gateway-db:
    container_name: gateway-db
    image: postgres:17
    restart: always
    ports:
      - "8730:5432"
    environment:
      - POSTGRES_USER=gateway
      - POSTGRES_PASSWORD=gateway
      - POSTGRES_DB=gateway
      - PGDATA=/pgdata
    volumes:
      - "gateway-db-data:/pgdata"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U gateway"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  gateway-svc:
    container_name: gateway-svc
    build:
      context: ../
      dockerfile: ./gateway/infrastructure/Dockerfile
    restart: always
    environment:
      - RUST_LOG=debug,sqlx=info
      - CONFIG_PATH=/config.toml
      - DATABASE_URL=postgres://gateway:gateway@gateway-db/gateway
    ports:
      - "9430:8060"
    command: sh -c "sqlx migrate run && gateway_main"
    depends_on:
      - gateway-db
      - verifier-1-svc
      - verifier-2-svc
      - verifier-3-svc
    volumes:
      - ./configurations/gateway.toml:/config.toml
      - ./configurations/certificates/Amazon-Root-CA.pem:/Amazon-Root-CA.pem
      - ./configurations/certificates/Flashnet-CA.pem:/Flashnet-CA.pem
    healthcheck:
      test: ["CMD", "curl", "-X", "GET", "-f", "http://localhost:8060/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s

  # ====== Verifier 1 ======
  verifier-1-db:
    container_name: verifier-1-db
    image: postgres:17
    restart: always
    ports:
      - "8731:5432"
    environment:
      - POSTGRES_USER=verifier
      - POSTGRES_PASSWORD=verifier
      - POSTGRES_DB=verifier
      - PGDATA=/pgdata
    volumes:
      - verifier-1-db-data:/pgdata
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U verifier"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  verifier-1-svc:
    container_name: verifier-1-svc
    build:
      context: ../
      dockerfile: ./verifier/infrastructure/Dockerfile
    restart: always
    environment:
      - RUST_LOG=debug,sqlx=info
      - CONFIG_PATH=/config.toml
      - DATABASE_URL=postgres://verifier:verifier@verifier-1-db/verifier
    ports:
      - "9431:8070"
    command: sh -c "sqlx migrate run && verifier_main"
    depends_on:
      - verifier-1-db
    volumes:
      - ./configurations/verifier_1.toml:/config.toml
    healthcheck:
      test: ["CMD", "curl", "-X", "GET", "-f", "http://localhost:8070/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s

  # ====== Verifier 2 ======
  verifier-2-db:
    container_name: verifier-2-db
    image: postgres:17
    restart: always
    ports:
      - "8732:5432"
    environment:
      - POSTGRES_USER=verifier
      - POSTGRES_PASSWORD=verifier
      - POSTGRES_DB=verifier
      - PGDATA=/pgdata
    volumes:
      - verifier-2-db-data:/pgdata
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U verifier"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  verifier-2-svc:
    container_name: verifier-2-svc
    build:
      context: ../
      dockerfile: ./verifier/infrastructure/Dockerfile
    restart: always
    environment:
      - RUST_LOG=debug,sqlx=info
      - CONFIG_PATH=/config.toml
      - DATABASE_URL=postgres://verifier:verifier@verifier-2-db/verifier
    ports:
      - "9432:8070"
    healthcheck:
      test: ["CMD", "curl", "-X", "GET", "-f", "http://localhost:8070/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
    command: sh -c "sqlx migrate run && verifier_main"
    depends_on:
      - verifier-2-db
    volumes:
      - ./configurations/verifier_2.toml:/config.toml

  # ====== Verifier 3 ======
  verifier-3-db:
    container_name: verifier-3-db
    image: postgres:17
    restart: always
    ports:
      - "8733:5432"
    environment:
      - POSTGRES_USER=verifier
      - POSTGRES_PASSWORD=verifier
      - POSTGRES_DB=verifier
      - PGDATA=/pgdata
    volumes:
      - verifier-3-db-data:/pgdata
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U verifier"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  verifier-3-svc:
    container_name: verifier-3-svc
    build:
      context: ../
      dockerfile: ./verifier/infrastructure/Dockerfile
    restart: always
    environment:
      - RUST_LOG=debug,sqlx=info
      - CONFIG_PATH=/config.toml
      - DATABASE_URL=postgres://verifier:verifier@verifier-3-db/verifier
    ports:
      - "9433:8070"
    healthcheck:
      test: ["CMD", "curl", "-X", "GET", "-f", "http://localhost:8070/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
    command: sh -c "sqlx migrate run && verifier_main"
    depends_on:
      - verifier-3-db
    volumes:
      - ./configurations/verifier_3.toml:/config.toml

  # ====== Btc indexer ======
  btc-indexer-svc:
    container_name: btc-indexer-svc
    build:
      context: ../
      dockerfile: ./btc_indexer/infrastructure/Dockerfile
    restart: always
    environment:
      - RUST_LOG=debug,sqlx=info
      - CONFIG_PATH=/config.toml
      - DATABASE_URL=postgres://btc_indexer:btc_indexer@btc-indexer-db/btc_indexer
    command: sh -c "sqlx migrate run && btc_indexer"
    ports:
      - "9434:8070"
    healthcheck:
      test: ["CMD", "curl", "-X", "GET", "-f", "http://localhost:8070/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
    depends_on:
      - btc-indexer-db
      - titan
      - bitcoind
    volumes:
      - ./configurations/btc_indexer.toml:/config.toml

  btc-indexer-db:
    container_name: btc-indexer-db
    image: postgres:17
    restart: always
    ports:
      - "8734:5432"
    environment:
      - POSTGRES_USER=btc_indexer
      - POSTGRES_PASSWORD=btc_indexer
      - POSTGRES_DB=btc_indexer
      - PGDATA=/pgdata
    volumes:
      - btc-indexer-db-data:/pgdata
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U btc_indexer"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  # https://github.com/SaturnBTC/Titan/blob/master/docker-compose.yml

  titan:
    container_name: titan
    image: ghcr.io/saturnbtc/titan:latest
    restart: always
    depends_on:
      bitcoind:
        condition: service_healthy
    ports:
      - 0.0.0.0:${TITAN_TCP_PORT:-8080}:${TITAN_TCP_PORT:-8080}
      - 0.0.0.0:${TITAN_HTTP_PORT:-3030}:${TITAN_HTTP_PORT:-3030}
    environment:
      - COMMIT_INTERVAL=${COMMIT_INTERVAL:-5}
      - BITCOIN_RPC_URL=http://bitcoind:${BITCOIN_RPC_PORT:-18443}
      - BITCOIN_RPC_USERNAME=${BITCOIN_RPC_USERNAME:-bitcoin}
      - BITCOIN_RPC_PASSWORD=${BITCOIN_RPC_PASSWORD:-bitcoinpass}
      - CHAIN=${BITCOIN_NETWORK:-regtest}
      - HTTP_LISTEN=0.0.0.0:${TITAN_HTTP_PORT:-3030}
      - TCP_ADDRESS=0.0.0.0:${TITAN_TCP_PORT:-8080}
    volumes:
      - "titan-data:/home/titan/data"

  bitcoind:
    container_name: bitcoind
    image: bitcoin/bitcoin
    ports:
      - 0.0.0.0:${BITCOIN_RPC_PORT:-18443}:${BITCOIN_RPC_PORT:-18443}
    volumes:
      - "btcd-data:/var/lib/bitcoin-core"
    command: |
      -${BITCOIN_NETWORK:-regtest}
      -rpcallowip=0.0.0.0/0
      -datadir=/var/lib/bitcoin-core
      -rpcbind=bitcoind
      -rpcuser=${BITCOIN_RPC_USERNAME:-bitcoin}
      -rpcpassword=${BITCOIN_RPC_PASSWORD:-bitcoinpass}
      -fallbackfee=0.00000001
      -txindex
    healthcheck:
      test:
        [
          "CMD",
          "bitcoin-cli",
          "-${BITCOIN_NETWORK:-regtest}",
          "-rpcconnect=bitcoind",
          "-rpcport=${BITCOIN_RPC_PORT:-18443}",
          "-rpcuser=${BITCOIN_RPC_USERNAME:-bitcoin}",
          "-rpcpassword=${BITCOIN_RPC_PASSWORD:-bitcoinpass}",
          "getblockchaininfo",
        ]
      interval: 10s
      timeout: 5s
      retries: 10

  # ====== Spark balance checker ======
  spark-balance-checker-svc:
    container_name: spark-balance-checker-svc
    build:
      context: ./../
      dockerfile: ./spark_balance_checker/infrastructure/Dockerfile
    restart: always
    environment:
      - RUST_LOG=debug,sqlx=info
      - CONFIG_PATH=/config.toml
    ports:
      - "9435:8090"
    healthcheck:
      test: ["CMD", "curl", "-X", "GET", "-f", "http://spark-balance-checker-svc:8090/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
    command: sh -c "spark_balance_checker_main"
    volumes:
      - ./configurations/spark_balance_checker.toml:/config.toml
      - ./configurations/certificates/Amazon-Root-CA.pem:/Amazon-Root-CA.pem
      - ./configurations/certificates/Flashnet-CA.pem:/Flashnet-CA.pem

volumes:
  gateway-db-data:
  verifier-1-db-data:
  verifier-2-db-data:
  verifier-3-db-data:
  btc-indexer-db-data:
  titan-data:
  btcd-data:
